.back {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 99;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.msg {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 3rem 0;
}

.msg > i {
  margin-right: 0.5rem;
  color: #ea3e32;
}

.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: #ea3e32;
}

button {
  font-size: 20px;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn_signIn {
  background-color: #fff;
  border: 0.5px solid #397b22;
  margin-bottom: 0.5rem;
}

.btn_close {
  background-color: #fff;
  border: 0.5px solid #ea3e32;
}

.btn_close:hover {
  background-color: #ea3e32;
  color: #fff;
}
.btn_signIn:hover {
  background-color: #3c7a25;
  color: #fff;
}
