.container {
  background: #753c2b;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  height: 5rem;
  z-index: 1000;
}

.logo {
  color: #fff;
  margin-left: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa_futbol {
  font-size: 1.8rem;
  margin-right: 0.2rem;
}

.menu {
  display: flex;
  list-style: none;
  /* window가로가 1440일때 가리기 */
  width: 70rem;
  /* window가로가 960일때 가리기 */
  /* width: 40rem; */
  justify-content: flex-end;
  /* margin-right: 2rem; */
}

.item {
  height: 5rem;
}

.link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: 0.6rem;
  height: 100%;
  text-decoration: none;
}

.link:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.login {
  margin-right: 1.5rem;
}

.fa_bars {
  color: #fff;
}

.link_mobile {
  display: none;
}

.icon {
  display: none;
}

@media screen and (max-width: 90rem) {
  /* @media screen and (max-width: 60rem) { */
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 57rem;
    position: absolute;
    top: 5rem;
    left: -100%;
    transition: all 0.5s ease;
  }

  .menu.active {
    background: #242222;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    margin-left: 0;
    /* z-index: 1; */
  }

  .link {
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .link:hover {
    background-color: #fff;
    color: #242424;
    /* border-radius: 0; */
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(7%, 47%);
  }

  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-125%, 62%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa_times {
    color: #fff;
    font-size: 2rem;
  }

  .link_mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 0.25rem;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 0.9rem 1.9rem;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .link_mobile:hover {
    background: #fff;
    color: #242424;
    /* transition: 250ms; */
  }
}
