.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.leftbox {
  flex-basis: 75%;
  overflow: hidden;
}

.leftbox_img {
  height: 100vh;
}

.rightbox {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  height: 100%;
  background-color: gainsboro;
}
